*
*/

!/.gitignore
!/.gitattributes

!/LICENSE.txt
!/README.md

!/.vscode/
!/.vscode/**
!/.editorconfig

!/.github/
!/.github/**

!/CMakeLists.txt
!/cmake/
!/cmake/**

!/.clang-format
!/.clang-tidy

!/.nvmrc
!/package.json
!/package-lock.json
!/cSpell.json

!/Doxyfile

!/docker/
!/docker/**

!/script/
!/script/**

!/etc/
!/etc/**

!/lib/
!/lib/**

!/test/
!/test/**
